<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
<style>
	h1{
        color : darkgreen;
        font-style: italic;

	}
	body
	{
          background-color: rosybrown;
	}
</style>
</head>
<body >
<h1 align = center >Thank You For Registration !!!!!!!</h1>
<!--<form  method='POST' action="new1.html">-->
<!--	To Check Updated Data :-->
<!--&lt;!&ndash;	<a href="file:///C:/Users/Asus/PycharmProjects/lists/flask_project/templates/new1.html">&ndash;&gt;-->
<!--    <input type="Submit" value="submit" name="">-->
<!--&lt;!&ndash;		</a>&ndash;&gt;-->
<!--</form>-->

<a href="{{url_for('first_flask')}}"> show data</a>
</body>
</html>